@use 'styles/__mixins' as __mixins;

.Wrapper {
  padding: 15px;
}

.SubTitle {
  margin-bottom: 5vh;
  text-align: center;
}

.BackButton {
  position: absolute;
  z-index: 1;
  top: 2vh;
  right: 2vh;
  width: 5vh;
  height: 5vh;
  cursor: pointer;

  @include __mixins.hover-default;
}

.RadioButtonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
}

.RadioButton {
  margin-top: 3px;
}

.SaveButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

.SaveButton {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #0d6efd;
  color: #fff;

  @include __mixins.hover-default;
}

.SavedLabel {
  opacity: 0;
  font-size: 14px;
  text-align: center;

  &.isActive {
    opacity: 1;
  }
}
