@use 'styles/__functions' as __functions;
@use 'styles/__mixins' as __mixins;

.Wrapper {
  padding: __functions.rem(15);
}

.SubTitle {
  margin-bottom: __functions.rem(30);
  text-align: center;
}

.BackButton {
  position: absolute;
  z-index: 1;
  top: __functions.rem(12);
  right: __functions.rem(12);
  width: __functions.rem(30);
  height: __functions.rem(30);
  cursor: pointer;

  @include __mixins.hover-default;
}

.RadioButtonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: __functions.rem(5);
}

.RadioButton {
  margin-top: __functions.rem(3);
}

.SaveButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: __functions.rem(31);
}

.SaveButton {
  padding: __functions.rem(6) __functions.rem(12);
  border-radius: __functions.rem(4);
  background-color: #0d6efd;
  color: #fff;

  @include __mixins.hover-default;
}

.SavedLabel {
  opacity: 0;
  font-size: __functions.rem(14);
  text-align: center;

  &.isActive {
    opacity: 1;
  }
}
