@use 'styles/__functions' as __functions;
@use 'styles/__mixins' as __mixins;

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: __functions.rem(60);
  padding-bottom: __functions.rem(30);
}

.ConfigIconWrapper {
  position: absolute;
  z-index: 1;
  top: __functions.rem(12);
  right: __functions.rem(12);
  width: __functions.rem(30);
  height: __functions.rem(30);
  cursor: pointer;

  @include __mixins.hover-default;
}
