.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  width: 23px;
  height: 23px;
  cursor: pointer;

  &:checked {
    background-color: #0d6efd;
    accent-color: #0d6efd;
  }
}

.Label {
  margin-left: 4px;
  cursor: pointer;
}
