@use 'styles/__functions' as __functions;

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  width: __functions.rem(23);
  height: __functions.rem(23);
  cursor: pointer;

  &:checked {
    background-color: #0d6efd;
    accent-color: #0d6efd;
  }
}

.Label {
  margin-left: __functions.rem(4);
  cursor: pointer;
}
