@use 'styles/__functions' as __functions;
@use 'styles/__mixins' as __mixins;

.Wrapper {
  position: relative;
  width: __functions.rem(280);
}

.Input {
  margin-top: __functions.rem(5);
  width: 100%;
  padding: __functions.rem(8);
}

.Clear {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: __functions.rem(5);
  margin: auto;
  width: __functions.rem(16);
  height: __functions.rem(16);
  cursor: pointer;

  @include __mixins.hover-default;
}
