@use 'styles/__functions' as __functions;
@use 'styles/__mixins' as __mixins;

.Accordion {
  cursor: pointer;
}

.Summary {
  border: __functions.rem(2) #0f0f0f solid;
  padding: __functions.rem(8);
  width: calc(100vw - #{__functions.rem(20)});

  @include __mixins.hover-default();
}

.Content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateX(__functions.rem(-10));
  transition: all 0.3s 0s ease;

  &.isOpened {
    opacity: 1;
    transform: translateX(0);
  }
}
